ion-card {
    border-radius: 10px;

    .card-img {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        img {
            max-width: 94px;
            border-radius: 50%;
            border: 3px solid #5e7ccc;
        }
    }

    ion-card-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0px;

        ion-icon {
            font-size: 25px;
        }

        ion-card-title {
            margin-top: 0px;
        }
    }

    ion-card-content {
        .card-info {
            margin-top: 8px;
            margin-bottom: 8px;

            .row-info-user {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .user-status {
                    background-color: #8c8c8c;
                    padding: 2px 4px;
                    color: white;
                    border-radius: 5px;
                }
            }
        }

        .card-buttons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}